body{ background-color: rgb(200, 200, 200); }

#container{
    width: 1000px;
    margin: 10% auto;
    border: 1px solid gray;
    padding: 20px;
    background-color: whitesmoke;
}

#header{
    /* border: 1px solid gray; */
    margin-bottom: 20px;
    text-align: center;
}

#main{
    width: 30%;
    margin: 0 auto;
    border: 1px solid gray;
    border-radius: 20px;
    text-align: center;
}

input[type:"text"] {
    width: 100px
}

button{
    background-color: darkgray;
    cursor: pointer;
}